#disq_gb p {
  color: black !important;
  font-weight: bold !important;
}

#disq_gb .media-GIPHY a img {
  outline: solid 2px green !important;
}

/*hiding these for now*/
#lb_4, #lb_5, #lb_6, #lb_7, #lb_8 {
  display: none !important;
  visibility: hidden !important;
}

linebreak {
  /*  for maths!!
  */
  display: block;
}

body {
  background-color: #ffffb6;
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px;
}

a {
  color: #DB2024;
}

.sciensational {
  visibility: hidden;
  display: none;
}

/*header*/

#headerwrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  #headerstuff {
    display: none;
  }
}

#header {}

.img_logo {
  width: 300px;
  height: 193px;
  background-position: 0 0;
  margin: 0 0 0 10px;
}

#tagline {
  text-shadow: 1px 1px 1px #ddd;
}

#tagline h2 {
  color: #FFCC33;
  font: italic bold 36px/31px Arial;
  letter-spacing: -2px;
  margin: 20px;
  padding: 0;
}

#tagline .nameclr {
  color: #DB2024;
  font: italic bold 33px Arial;
}

#tagline .blogaddclr {
  color: #D92026;
  font-size: 26px;
}

/*/header*/

/*-leftbar-*/

#leftbar {
  width: 120px;
  background-color: #d92026;
}

#leftbar .lbitem {
  padding: 5px 0 10px 0;
  margin: 0 auto;
  border-bottom: solid 4px #fc3;
}

.lbitem span {
  margin: 0 auto;
}

#leftbar h3 {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

#leftbar h3 a {
  color: #E35154;
  text-decoration: none;
}

/* if #leftbar collapsible */
#leftbar {
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0; /* must to make it scroll! */
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  line-height: 1em;
  color: white;
}

.openbtn {
  position: fixed;
  left: 0;
  top: 0;
  background: #da2124;
  font-weight: bold;
  font-size: 26px;
  line-height: 1em;
  color: white;
  padding: 8px;
  border: none;
}

/* /if #leftbar collapsible */

/*-/leftbar*/

/*-- CONTENT --*/

#contentwrap {
  border-left: solid 11px #fc3;
}

#contentouter {
  border-left: solid 10px #d92026;
  background: #fc3;
  padding: 0 0 10px 0;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.06em;
  color: #5B1F92;
  text-shadow: 1px 0 1px #FFFFFF;
  padding: 0.5em 0;
  margin: 0;
  line-height: 1em;
}

.factsp {
  width: 48%;
}

.factsp {
  box-shadow: 0 1px 2px #555;
  clear: left;
  color: #000000;
  display: block;
  margin: 10px 0;
  padding: 10px 10px 5px;
  text-align: left;
  border-radius: 3px;
  min-width: 280px;
  font-size: 1.1em;
  font-weight: bold;
}

.factsp img {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #444;
  clear: left;
  float: left;
  margin: -15px 12px 5px -5px;
  width: 80px;
}

.factsp .sender {
  color: green;
  display: block;
  font-size: 60%;
  font-weight: bold;
  line-height: 1em;
  opacity: 0.7;
  margin-top: 0.8em;
}

.factsp .sender .pref {
  font-size: 90%;
  font-weight: normal;
  color: darkslategray;
}

.factsp a {
  font-weight: normal;
  color: #5B1F92;
}

.factsp b {
  color: #351254;
  font-style: italic;
  text-shadow: 1px 0 0 #ddd;
  font-weight: bold;
}

.factsp pre, .factsp .pre {
  margin: 0;
  padding: 0;
  color: #000000;
  text-shadow: -1px 0 0 #ddd;
  clear: both;
  white-space: pre-wrap;
  display: block;
}

.factsp .pre *,
.factsp .pre,
.factsp pre,
.factsp .pre b,
.factsp .pre i {
  font: bold 15px monospace;
}

.factsp .pre b {
  color: #E42F2F;
}

.factsp .pre i {
  color: #239A21;
}

.shine,
.factsp {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* W3C */
}

/*-- sprt and buttons --*/

.sprt {
  background-image: url(//www.sciensational.com/common/x/a/s/sc-sprt.png);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.bt_sbmt {
  width: 99px;
  height: 37px;
  background-position: 0 -399px;
}

.bt_gstbk {
  width: 99px;
  height: 37px;
  background-position: 0 -510px;
}

.bt_fndfct {
  width: 99px;
  height: 37px;
  background-position: 0 -362px;
}

.bt_tls {
  width: 99px;
  height: 33px;
  background-position: 0 -329px;
}

.bt_gfts {
  width: 99px;
  height: 37px;
  background-position: 0 -547px;
}

.bt_bks {
  width: 99px;
  height: 33px;
  background-position: 0 -584px;
}

.bt_fnpg {
  width: 99px;
  height: 37px;
  background-position: 0 -473px;
}

.bt_sts {
  width: 99px;
  height: 33px;
  background-position: 0 -263px;
}

.bt_scrnsv {
  width: 99px;
  height: 37px;
  background-position: 0 -617px;
}

.bt_tshrt {
  width: 99px;
  height: 37px;
  background-position: 0 -226px;
}

.bt_abt {
  width: 99px;
  height: 33px;
  background-position: 0 -193px;
}

.bt_fb {
  width: 99px;
  height: 33px;
  background-position: -104px -292px;
}

.bt_tw {
  width: 99px;
  height: 33px;
  background-position: -104px -328px;
}

/*-- /sprt and buttons --*/

/*-- tabs -- */

#tabs {
  background-color: #fc3;
}

#tabs * {
  border: none; /* to remove all BS borders */
}

#tabs, #tabs a {
  font-weight: bold;
  color: #ffffb6;
}

#tabs .active {
  background-color: #fc3;
  color: black;
}

#tabs .nav-link {
  border: none;
  border-radius: 0;
}

#tabs .nav-item {
  background-color: #5b1f92;
}

/*--  /tabs -- */

/*-- pagination --*/

#pagination {
  clear: both;
}

#pagination * {
  border-width: 3px;
  border-color: #fc3;
  border-radius: 0;
  margin: 10px 0;
  font-size: 105%;
}

#pagination, #pagination a {
  color: white;
}

#pagination .disabled a {
  background: none;
  color: black;
}

#pagination a {
  background: #d92026;
}

/*---------- footer ---------*/

#footer .para {
  font-size: 90%;
}

#footer .para a {
  color: #444;
  text-decoration: underline;
}

/*-- /pagination --*/