/* 
-------------------
D92026 red FFCC33 yellow FFFFB6 light yellow 5B1F92 purple 008000 green
-------------------
*/
/**/
/**/

* {
  max-height: 999999px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #FFFFB6;
}

table {
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  border: none;
}

td {
  padding: 0;
  border: none;
}

.logotd {
  width: 300px;
  height: 193px;
  vertical-align: middle;
}

.headertd {
  background-color: #FFFFB6;
  overflow: hidden;
  height: 153px;
  vertical-align: top;
}

.menutd {
  background-color: #FFFFB6;
  display: block;
  font: bold 15px Arial;
  height: 40px;
  overflow: hidden;
}

.leftbartd {
  border-bottom: solid 1px red;
  background-color: #D92026;
  /*width: 274px;*/
  width: 300px;
  vertical-align: top; /*box-shadow: 0 10px 10px #555555;*/
}

.footertd {
  background-color: #FFFFB6;
}

a {
  color: #5B1F92;
  cursor: pointer;
}

#mother {
  margin: 0 auto;
  position: relative;
  width: 970px; /* for legacy */
}

#header {}

#footer {
  margin: 10px;
  font-size: 11px;
}

#leftbar {}

#leftbar .lbitem {
  padding: 5px 0 10px 0;
  margin: 0 auto;
  border-bottom: solid 4px #ffffb6;
}

#leftbar .lb14 {
  border: none;
}

#leftbar .lbitem:hover {}

#leftbar h3 {
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  display: block;
  text-align: center;
}

#leftbar h3 a {
  color: #E35154;
  text-decoration: none;
}

#leftbar h3 a:hover {
  color: #FFFFFF;
}

#leftbar p {}

#leftbar a {}

#leftbar a:hover {
  color: #FFFFFF;
}

#rightbar {
  width: 180px;
  float: left;
  min-height: 600px;
  background-color: #FFFF00;
}

#content {
  margin: 0;
  padding: 0;
  background-color: #FFCC33;
  color: #000000;
  font-size: 14px;
}

#header .logo {}

#leftbar .lbitem img {
  border: 0;
  margin: 0;
}

#content .factstd {
  margin: 0;
  padding: 0;
  float: left;
  width: 250px;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

.bracketed,
.bracketed > * {
  font-weight: normal !important;
  font-size: 95% !important;
}

#content .factsp {
  box-shadow: 0 1px 2px #555;
  clear: left;
  color: #000000;
  display: block;
  font: bold 14px/18px Arial, Helvetica, sans-serif;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px;
  text-align: left;
  border-radius: 3px;
  max-width: 300px;
}

#content .factsp img {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #444;
  clear: left;
  float: left;
  margin: -15px 12px 5px -5px;
}

#content .sender {
  color: darkgreen;
  display: block;
  font: bold 10px/1em Arial;
  margin: 10px 0 5px 0;
}

#container {
  margin: 0;
  padding: 5px;
  background-color: #FFCC33;
  width: 692px;
  border-left: solid 4px #ffffb6;
  min-height: 850px; /*box-shadow: 0 10px 10px #555555;*/
}

#content h1 {
  margin: 0 30px 10px 0;
  padding: 0 0 10px 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.06em;
  color: #5B1F92;
  line-height: 1em;
  text-shadow: 1px 0 1px #FFFFFF;
}

#tagline {
  float: left;
  text-shadow: 1px 1px 1px #ddd;
}

#tagline h2 {
  color: #FFCC33;
  font: italic bold 36px/31px Arial;
  letter-spacing: -2px;
  margin: 20px;
  padding: 0;
}

#tagline .nameclr {
  color: #DB2024;
  font: italic bold 33px Arial;
}

#tagline .blogaddclr {
  color: #D92026;
  font-size: 26px;
}

.fctstable {}

#menu,
#menu1,
#menu2,
#menu3,
#menu4,
#menu5,
#menu6 {}

#menu a,
#menu1 a,
#menu2 a,
#menu3 a,
#menu4 a,
#menu5 a,
#menu6 a {
  color: #FFFFB6;
  text-decoration: none;
}

#menu1 .astronomy,
#menu2 .maths,
#menu3 .physics,
#menu4 .chemistry,
#menu5 .biology,
#menu6 .blogtab {
  background-color: #FFCC33;
}

#menu1 .astronomy a,
#menu2 .maths a,
#menu3 .physics a,
#menu4 .chemistry a,
#menu5 .biology a,
#menu6 .blogtab a {
  color: #000000;
}

.menuitem {
  float: left;
  margin: 0 2px 0 2px;
  padding: 0 20px 0 20px;
  background-color: #5B1F92;
  line-height: 38px;
  height: 40px;
}

.menuitem:hover {
  background-color: #D92026;
}

.blogbghover {
  background-color: green;
}

#mpmother {}

#mpcontainer {
  margin: 0 20px 0 0;
}

#mpcontainer h1 {
  margin: 0;
  padding: 0;
}

#mpcontainer .randbox {
  border-top: 2px solid #777;
  margin: 10px 0 0;
  padding: 10px 0 0;
}

#mpcontainer .randbox p,
#mpcontainer .randbox p a {
  background: none;
  box-shadow: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0 0 10px;
  padding: 0;
  max-width: 300px;
}

#mpcontainer .randbox a {
  color: #000000;
  text-decoration: none;
  border-bottom: dotted 1px blue;
}

#mpcontainer .randbox a:hover {
  color: blue;
}

#mpcontainer .randbox h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;
  text-transform: capitalize;
  color: #5B1F92;
  font-weight: bold;
}

#mpcontainer .randmore {
  margin: 0;
  font-size: 9px;
  text-transform: uppercase;
  text-align: right;
}

#mprightbar {
  padding: 0;
  margin: 0;
  color: #000000;
}

#content #mprightbar h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 15px;
  color: #5B1F92;
  line-height: 1em;
}

.feedbox {
  background-color: #FFD24A;
  padding: 10px;
  margin: 10px 0;
}

#content .feedbox p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.3em;
}

.activities {
  border-bottom: 2px solid #888888;
  border-top: 2px solid #888888;
  margin: 15px 15px 15px 0;
  padding: 10px 0;
}

.activities ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
}

.activities li {
  margin: 0 0 10px 0;
  padding: 0;
}

#mprightbar .showthem {
  margin: 10px 0 0 0;
  padding: 0;
}

#mpcontainer .randbox img {
  float: left;
  margin: 0 10px 0 0;
}

.activities h3 {}

#mprightbar .showthem img {
  margin: 0 5px 0 0;
}

#mprightbar .showthem h3 {
  color: #5B1F92;
}

.thanks {
  margin: 15px 0;
  padding: 15px 0;
}

.thanks p {
  margin: 0;
  padding: 0;
  font-size: 19px;
}

.thanks h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#guestbook {
  margin: 20px 10px 10px 10px;
  padding: 0;
}

#guestbook h1 {
  margin: 0;
}

#guestbook .gbintro {
  font-size: 15px;
  margin: 10px 0 10px 0;
  padding: 10px;
  background-color: #FFCC33;
  color: #cc0000;
  font-weight: bold;
}

#guestbook .gbintro a {
  color: #0033FF;
  font-size: 16px;
}

#guestbook .gbsingle {
  padding: 15px;
  margin: 0 0 10px 0;
  color: #000000;
  border: solid 2px #d92026;
}

#guestbook .date {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

#guestbook .name {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  color: #D92026;
}

#guestbook .message {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
}

#guestbook .name strong {}

#guestbook .location {
  margin: 0;
  padding: 0;
}

.asbox {
  float: left;
  margin: 20px 30px 20px 20px;
  padding: 0;
  width: 250px;
  height: 250px;
}

.asboxleftbar {}

#bloglink {
  float: right;
  background-color: #4F1C7C;
  color: #FFFFFF;
  padding: 20px;
  font-size: 14px;
  margin: 20px;
}

#bloglink .blink {
  font-size: 20px;
}

#bloglink .blink a {
  color: #FFFFB6;
}

#bloglink .blink:hover {}

#bloglink p {
  margin: 0;
  padding: 0;
}

#bloglink .blink a:hover {
  color: #FFCC33;
}

.blog {
  float: left;
  margin: 0 20px 0 10px;
  line-height: 1.5em;
  font-size: 13px;
  color: #000000;
}

.blog h2 {
  color: #4F1C7C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.05em;
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1em;
}

.blog p img {
  float: right;
  margin: 0 0 10px 10px;
  padding: 5px;
  background-color: #5B1F92;
}

.blog a {
  color: #000000;
}

.blog img {
  border: none;
}

.blog blockquote {
  font-weight: bold;
  padding: 0 0 0 15px;
  border-left: solid 2px yellow;
  font-size: 15px;
}

.blog .datdiv {
  font-size: 10px;
  color: #666666;
}

.blog .aspostpage {
  margin: 10px 10px 10px 0;
}

.blog .entrysep {
  border-top: solid 1px #D92026;
  margin: 10px 0 10px 0;
}

.blog .commdiv {
  margin: 10px 0 10px 0;
}

.blogsidebar {
  width: 160px;
  margin: 0;
  padding: 10px;
  color: #000000;
}

#content .blogsidebar h3 {
  margin: 10px 0 10px 0;
  font-size: 17px;
  color: #D92026;
}

.blogsidebar p {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.blogsidebar a {
  color: #000000;
}

#content .blogsidebar ul {
  padding-left: 5px;
  margin-left: 5px;
}

#content .blogsidebar li {
  margin: 5px auto;
  padding: auto;
}

.blogsidebar img {
  border: none;
}

.blogsidebar .feedicon {
  margin: 20px 0 0 10px;
}

.addthis {
  /*position: absolute;
  right: 10px;
  top: 50px;*/
}

.twtlog {
  margin: 0 5px 0 0;
}

#fctsfrm textarea {
  width: 400px;
  height: 200px;
}

#fctsfrm td {
  padding: 10px;
}

#fctsfrm .formtable {
  padding: 10px;
}

#fctsfrm form {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

#fctsfrm .toreport {
  font-size: 12px;
  margin: 25px 0 20px 0;
}

#fctsfrm .powered {
  margin: 5px 0 5px 0;
}

.smallfonts {
  font-size: 11px;
}

.mprightbartd {
  padding: 0 10px 0 0;
  width: 260px;
}

.blogsidebartd {
  width: 180px;
}

#content .blog h1 {
  font-size: 38px;
  text-transform: none;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

.blog .continue {
  margin: 15px 0 10px 0;
}

.blog .breadcrumbs {
  margin: 0 0 10px 0;
  font-size: 12px;
}

.factcontainer {
  margin: 10px 0 0 0;
}

.asleftbarhalf {
  height: 60px;
  width: 234px;
  border: solid 4px #E45054;
  margin: 30px;
}

#bookscontent h1 {
  margin: 0;
  padding: 0;
}

.asblogmain {
  margin: 10px 20px 20px 0;
}

.asheader {
  position: absolute;
  left: 754px;
  top: 65px;
  background-position: 0 0;
  width: 200px;
  height: 56px;
}

.genheader {
  position: absolute;
  left: 830px;
  top: 10px;
  text-align: center;
  background-image: url(//www.sciensational.com/common/x/a/s/asbg.gif);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-color: #D92026;
  padding: 0;
  border: solid 5px #5b1f92;
}

.genheadermp {
  position: absolute;
  left: 698px;
  top: 25px;
  text-align: center;
  background-repeat: repeat-x;
  background-position: 0 0;
  padding: 0;
  width: 200px;
}

.srcheadr {
  background-color: #D92026;
  border-radius: 5px 5px 5px 5px;
  left: 688px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 250px;
}

#content #mprightbar a {
  color: #000000;
  text-decoration: none;
  border-bottom: dotted 1px black;
}

.asinlineright {
  width: 200px;
  height: 200px;
  float: right;
  margin: 10px 30px 10px 0;
}

.asinlineleft {
  float: left;
  margin: 0px 20px 5px 0;
}

.asinlinelinkuright {
  width: 300px;
  float: right;
  margin: 30px 30px 30px 0;
}

#content .nav {
  margin: 20px 0 20px 0;
  font-size: 16px;
  font-weight: bold;
  clear: both;
  background-color: #FFCC33;
}

.nav a {
  color: #FFFFFF;
}

.nav .pgcurr a {
  color: #000000;
  text-decoration: none;
}

.nav .pgprev,
.nav .pgnext {
  float: left;
  background-color: #D92026;
  color: #FFFFFF;
}

.nav .pgcntr {
  float: left;
  background-color: #D92026;
}

.nav .pgcurr {
  background-color: #FFCC33;
  float: left;
}

.nav div {
  padding: 5px 15px 7px 15px;
  margin: 3px;
  border-radius: 5px;
}

.nav div:hover {
  background-color: green;
}

.nav .pgcntr1 {
  background-color: #FFCC33;
}

.nav .pgcntr1 a {
  color: #000000;
  text-decoration: none;
}

.booksrightbar {
  float: right;
  margin: 0 0 10px 20px;
}

.booksrightbar .booksrightbaritem {
  border: solid 4px #D92026;
  margin: 0 0 5px 0;
  width: 234px;
  height: 60px;
  background-color: #D92026;
}

.booksrightbar h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 13px;
  color: #cc0000;
}

#content h2 {
  margin: 10px 0;
  font-size: 27px;
  color: #5B1F92;
  letter-spacing: -1px;
}

#content p {
  margin: 10px 0 10px 0;
  padding: 0;
  text-align: justify;
}

#content h3 {
  font-size: 14px;
  margin: 5px 0 10px;
  padding: 0;
}

.afftable {
  padding: 0px;
  border: none;
  width: 100%;
}

.afftable td {
  padding: 10px;
  text-align: center;
  border: solid 2px green;
  margin: 0;
}

.afftable p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.affbox {
  padding: 0px;
  margin: 0 0 3px 0;
}

#footer p {
  margin: 0;
  padding: 0;
}

#footer .sites a {
  color: #000000;
}

.blogsidebar .asblogsblinku {
  margin: 15px 0 10px 0;
}

#content .factsp a {
  font-weight: normal;
  color: #5B1F92;
}

#content .sender a {
  color: #4F1C7C;
}

#search .inputbox {
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

.aslinkufcts {
  margin: 5px 0 20px 0;
  text-align: center;
}

.asinlinelinku {
  margin: 20px 0 20px 20px;
  padding: 20px 0 20px 10px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  text-align: center;
}

.as468 {
  height: 90px;
  margin: 20px 0 0 20px;
}

.as728 {
  height: 90px;
  margin: 10px 0 10px -5px;
}

.as728lu {
  margin: -5px 0 10px -8px;
  padding: 10px 0 10px 0;
  background-color: #D92026;
  text-align: center;
  position: relative; /* for ie */
  float: left; /* for ie */
}

.bottombar {
  text-align: center;
  padding: 0;
  margin: 0 0 0 4px;
}

.conttd {
  background-color: #FFFFB6;
  vertical-align: top;
}

#content .right {
  padding: 0;
}

#content .left {
  margin: 0;
  padding: 0;
}

.as728inline {
  height: 90px;
  margin: 0 0 0 -10px;
}

.headtable {
  height: 193px;
  width: 100%;
}

.booksfacts h3 {
  color: #cc0000;
}

.booksfacts {
  margin: 0 0 55px 0;
}

#content pre,
.pre {
  margin: 0;
  padding: 0;
  color: #000000;
  display: inline-block;
  text-shadow: -1px 0 0 #ddd;
  clear: both;
  white-space: pre;
}

#content .factsp .pre *,
#content .pre,
.pre,
#content pre,
.pre *,
#content .pre b,
.pre b,
#content .pre i,
.pre i {
  font: bold 15px "Courier New", Courier, monospace;
}

#content .factsp .pre b,
#content pre b,
.pre b {
  color: #E42F2F;
}

#content .factsp .pre i,
#content pre i,
.pre i {
  color: #239A21;
}

.aslinkuhdr {
  margin: 0;
  padding: 5px 5px 5px 0;
  background-color: #FFCC33;
  text-align: center;
}

#content .pgnum {
  float: right;
  font-size: 18px;
  color: #D92026;
}

.tagline {
  color: #ffffff;
  font: bold 16px/1em Arial;
  margin: 0;
  text-shadow: -1px 0 0 #444444;
}

.tagline .blurb {
  color: #FFFFB4;
}

.tagline strong {
  font-style: italic;
  color: #FFCC33;
}

#content #mpcontainer h2 {
  color: #DB2024;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
  padding: 10px 0 0;
}

.as468inline {
  margin: 10px 0 20px 0;
}

.afftable h3 {
  font-size: 20px;
  color: #D92026;
}

.afflnk {
  margin: 0 100px 30px 100px;
  line-height: 1.5em;
}

.afflnk em {
  color: #cc0000;
}

.afflnk a {
  font-weight: bold;
}

.asfctpg160 {
  width: 160px;
  height: 600px;
  margin: 0 15px 0 0;
}

div.clr {
  clear: both;
  margin: 0;
  padding: 0;
}

#mpcontainer .mpdate {
  font-size: 11px;
  text-transform: uppercase;
}

.sciensational {
  visibility: hidden;
  display: none;
}

.asmain {
  border: solid 5px #5b1f92;
}

.srcheadr form {
  margin: 0;
  padding: 0;
}

#srchpgdiv form {
  margin: 0;
  padding: 0;
}

#gbformdiv {
  font-size: 14px;
  font-weight: bold;
}

.subbut {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  background-color: #D92026;
  color: #FFFFFF;
  border-top: solid 2px #ccc;
  border-left: solid 2px #ccc;
  border-right: solid 2px #555;
  border-bottom: solid 2px #555;
}

.asrightbar {
  margin: 0 40px 0 0;
}

#afflnkpgs {
  width: 120px;
  margin: 20px 0 0 0;
}

#afflnkpgs a {
  color: #5B1F92;
  font-size: 14px;
  font-weight: bold;
}

#affbanpgs {
  float: right;
  border: solid 4px #5B1F92;
  margin: 0 10px 0 0;
}

.butnfy {
  background-color: #CCCCCC;
  border-top: solid 2px #eee;
  border-left: solid 2px #eee;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
}

.butnfy:hover {
  background-color: #ddd;
}

.aff125x4 .tdc {
  padding: 5px;
}

.aff125x4 .div125 {
  width: 125px;
  height: 125px;
  overflow: hidden;
  border: solid 4px #D92026;
}

.aff125x4 .div125 img {
  width: 125px;
  height: 125px;
  overflow: hidden;
}

#content .h1pgnum {
  font-size: 18px;
  line-height: 1em;
  color: #D92026;
  letter-spacing: normal;
}

.asbott {
  margin: 10px auto;
}

.as728img {
  margin: 0 -6px 20px -15px;
  background-color: #D92026;
  padding: 6px 0 6px 0;
  border-top: solid 4px #ffffb6;
  border-bottom: solid 4px #ffffb6;
  text-align: center;
}

.as728imgbot {
  margin: 0 -6px 0 -15px;
  background-color: #5B1F92;
  padding: 6px 0 6px 0;
  border-top: solid 4px #ffffb6;
  border-bottom: solid 4px #ffffb6;
  border-top: solid 4px #ffffb6;
  text-align: center;
}

#blurbs {
  position: absolute;
  left: 689px;
  top: 64px;
  width: 252px;
}

#blurbs p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #5B1F92;
}

.asheaderin {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.1em;
  text-align: right;
  text-transform: capitalize;
}

.asheader table {
  border: none;
  margin: 0;
  padding: 0;
}

.sprt {
  background-image: url(//www.sciensational.com/common/x/a/s/sc-sprt.png);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.bt_sbmt {
  width: 99px;
  height: 37px;
  background-position: 0 -399px;
}

.bt_gstbk {
  width: 99px;
  height: 37px;
  background-position: 0 -510px;
}

.bt_fndfct {
  width: 99px;
  height: 37px;
  background-position: 0 -362px;
}

.bt_tls {
  width: 99px;
  height: 33px;
  background-position: 0 -329px;
}

.bt_gfts {
  width: 99px;
  height: 37px;
  background-position: 0 -547px;
}

.bt_bks {
  width: 99px;
  height: 33px;
  background-position: 0 -584px;
}

.bt_fnpg {
  width: 99px;
  height: 37px;
  background-position: 0 -473px;
}

.bt_sts {
  width: 99px;
  height: 33px;
  background-position: 0 -263px;
}

.bt_scrnsv {
  width: 99px;
  height: 37px;
  background-position: 0 -617px;
}

.bt_tshrt {
  width: 99px;
  height: 37px;
  background-position: 0 -226px;
}

.bt_abt {
  width: 99px;
  height: 33px;
  background-position: 0 -193px;
}

#guestbook_new1 .bt_gstbk {
  background-position: -261px -510px;
}

#search1 .bt_fndfct,
#searchresults1 .bt_fndfct {
  background-position: -261px -362px;
}

#storewrap .bt_gfts {
  background-position: -261px -547px;
}

#bookswrap .bt_bks {
  background-position: -261px -584px;
}

#sciencescreensavers1 .bt_scrnsv {
  background-position: -261px -617px;
}

#funpage1 .bt_fnpg {
  background-position: -261px -473px;
}

#links1 .bt_sts {
  background-position: -261px -263px;
}

#about1 .bt_abt {
  background-position: -261px -193px;
}

.img_logo {
  width: 300px;
  height: 193px;
  background-position: 0 0;
}

.img_omgl {
  width: 120px;
  height: 54px;
  background-position: (-104px) -220px;
}

.img_zdgn {
  width: 30px;
  height: 18px;
  background-position: (-179px) -197px;
}

.img_blb {
  background-position: -229px -196px;
  float: left;
  height: 34px;
  margin: 0 5px 0 0;
  width: 32px;
}

#search .img_blb {
  margin-right: -20px;
}

.bt_fcbk {
  width: 99px;
  height: 37px;
  background-position: (-104px) -292px;
}

.bt_twtr {
  width: 99px;
  height: 37px;
  background-position: (-104px) -328px;
}

.bt_omgl {
  width: 99px;
  height: 37px;
  background-position: (-104px) -365px;
}

.rc-ri {
  /*  background-image: url(//www.sciensational.com/common/x/a/s/rc-ri.gif);
    background-position: top right;
    background-repeat: no-repeat;*/
}

.rc-le {
  /*  background-image: url(//www.sciensational.com/common/x/a/s/rc-le.gif);
    background-position: left top;
    background-repeat: no-repeat;*/
}

.lbtbltd1 {
  vertical-align: top;
  text-align: left;
  width: 160px;
}

.lbtbltd2 {
  vertical-align: top;
  text-align: right;
  border-left: solid 4px #ffffb6;
}

.lbtbl {
  /*width: 274px;*/
  width: 300px;
}

.astop {
  margin: 0 0 15px;
}

.lbitem span {
  margin: 0 auto;
}

.smaller {
  font-size: 85% !important;
}

.as_sci_a_LL {
  margin: 0;
  border-top: solid 4px #ffffb6;
  background: #FFCC33;
}

.as_sci_a_LL_T {
  border-top: solid 4px #ffffb6;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 32px;
}

.discl {
  font-size: 11px;
  display: block;
  margin: 30px 0 0 0;
  padding: 20px 0 0 0;
  border-top: dotted 1px red;
}

.abt {
  font-size: 16px;
  line-height: 1.5em;
}

.gblkbt {
  margin: 0 0 15px 0;
}

.clearer {
  height: 0px;
  overflow: hidden;
  clear: both;
}

#search {
  clear: both;
  margin: 10px 0 0;
  padding: 0 30px 0 0;
  text-align: center;
}

#search h3 {
  color: #421669;
  display: inline;
  font-size: 17px;
  margin: 0;
  padding: 0;
  width: 90%;
}

#search form {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

#search .button {
  background-color: #D92026;
  color: #FFFFFF;
  font-size: 17px;
  border-bottom: solid 1px #555;
  border-right: solid 1px #555;
  border-left: solid 1px #fff;
  border-top: solid 1px #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

#search h3 strong {
  color: #D92026;
  font-size: 19px;
}

#search h4 {
  color: #333333;
  display: inline;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

#search h4 em {
  color: #000000;
  font-weight: bold;
}

#search h3 em {
  font-size: 17px;
  color: #D92026;
}

#bookssidebar {
  margin: 20px 0;
}

#bookssidebar ul {
  margin: 0;
  padding: 0;
}

#bookssidebar li {
  display: inline;
  list-style-type: none;
  margin: 2px;
  padding: 5px;
  background: #5B1F92;
}

#bookssidebar ul a {
  color: #FFFFB6;
  font-weight: bold;
}

#bookssidebar ul a:hover {
  color: white;
}

#mprightbar form {
  margin: 0;
  padding: 0;
}

#content #mprightbar .feedbox h3 {
  font-size: 13px;
  margin: 8px 0 3px 0;
}

.as_lb {
  width: 110px;
  overflow: hidden;
  margin: -5px 0 -10px 0;
  position: relative;
  padding: 0;
}

#leftbar .fcbklnk a {
  text-transform: lowercase;
  color: #EC888A;
}

#leftbar .twtlnk a {
  text-transform: lowercase;
  color: #EC888A;
}

#bookswrap #container,
#storewrap #container {
  /*width: 790px;*/
  padding: 5px;
}

#bookswrap #amz_cont h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#bookscontent p {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
}

#bookscontent h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#wallpapers table td {
  vertical-align: top;
}

#wallpapers h3 {
  font-size: 17px;
  color: #D92026;
}

#wallpapers li {
  font-weight: bold;
  margin-bottom: 5px;
}

#wallpapers h2 {
  color: #000000;
}

#wallpapers p {
  font-weight: bold;
}

#wallpapers .wtip {
  display: block;
  width: 550px;
  margin: 20px auto;
  padding: 7px;
  border: dotted 1px black;
}

.stramzlog {
  float: left;
  margin: 0 5px 10px 0;
}

.strlog {
  float: right;
  margin: 0 0 10px 10px;
}

.strh2 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  letter-spacing: -1px;
  color: #333333;
}

#nasaimage {
  max-width: 99%;
  overflow: hidden;
}

#nasaimage img {
  border: none;
  width: 100%;
}

.strothers {
  margin: 10px 0;
}

.strothers table {
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
}

.strothers td {
  padding: 0 7px 7px 0;
}

#content .strothers h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
}

#content .factsp b {
  color: #351254;
  font: bold italic 15px/18px Arial, Helvetica, sans-serif;
  text-shadow: 1px 0 0 #ddd;
}

#content .factsp u {
  text-decoration: none;
  border-bottom: solid 2px red;
}

#content .factsp .mono {
  font: bold 16px "Courier New", Courier, monospace;
  color: #000000;
  text-shadow: -1px 0 0 #ddd;
  letter-spacing: -1px;
}

/* amz shp*/
#amz_cont iframe {
  border: none;
}

#amz_crc {
  width: 780px;
}

.amz_img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0;
  font: bold 14px/150px Arial;
  text-align: center;
}

.amz_img a {
  text-decoration: none;
  color: blue;
}

#amz_crc img {
  border: none;
}

.amz_itm {
  float: left;
  overflow: hidden;
  width: 150px;
  margin: 0 5px 13px 0;
}

.amz_itm h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  margin: 5px 0 0 0;
  padding: 0;
  display: block;
  overflow: hidden;
  width: 145px;
  max-height: 48px;
  height: expression( this.scrollHeight > 48 ? "48px" : "auto" ); /*ie(max-height)*/
}

.amz_itm h3 a {
  text-decoration: none;
  color: black;
}

.amz_itm h3 a:hover {
  color: red;
  text-decoration: none;
}

.amz_itm p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.amz_itm .amz_aut {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #339900;
}

.amz_itm .amz_prc {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #cc0000;
}

.amz_itm .amz_prc a {
  color: #cc0000;
}

.amz_itm .amz_rev {
  display: block;
  font-size: 11px;
}

.amz_itm .amz_wis {
  display: block;
  font-size: 11px;
}

.amz_ifwrap {}

.amz_more {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.ifst_menu {
  margin: 25px 0;
  padding: 0;
  font-size: 16px;
}

.ifst_menu ul {
  margin: 0;
  padding: 0;
}

.ifst_menu li {
  margin: 0 10px 0 0;
  padding: 0;
  display: inline;
}

/*/amz shp*/
/* --- mnutbstab --- */
#shpmnuwrp .mnutbsitem {
  float: left;
  margin: 0 2px 0 2px;
  padding: 0 20px 0 20px;
  background-color: #177215;
  line-height: 38px;
  height: 40px;
}

#shpmnuwrp .mnutbsitem:hover {
  background-color: #aaa;
}

#shpmnuwrp .mnutbs1 .pg1,
#shpmnuwrp .mnutbs2 .pg2,
#shpmnuwrp .mnutbs3 .pg3,
#shpmnuwrp .mnutbs4 .pg4,
#shpmnuwrp .mnutbs5 .pg5,
#shpmnuwrp .mnutbs6 .pg6,
#shpmnuwrp .mnutbs7 .pg7,
#shpmnuwrp .mnutbs8 .pg8,
#shpmnuwrp .mnutbs9 .pg9,
#shpmnuwrp .mnutbs10 .pg10,
#shpmnuwrp .mnutbs11 .pg11,
#shpmnuwrp .mnutbs12 .pg12,
#shpmnuwrp .mnutbs13 .pg13,
#shpmnuwrp .mnutbs14 .pg14,
#shpmnuwrp .mnutbs15 .pg15,
#shpmnuwrp .mnutbs16 .pg16,
#shpmnuwrp .mnutbs17 .pg17,
#shpmnuwrp .mnutbs18 .pg18,
#shpmnuwrp .mnutbs19 .pg19,
#shpmnuwrp .mnutbs20 .pg20 {
  border-left: solid 1px #555;
  border-right: solid 1px #555;
  border-top: solid 1px #555;
  margin-bottom: -4px;
  background-color: #FFCC33;
}

#shpmnuwrp .mnutbsitem a {
  color: #fff;
  text-decoration: none;
}

#shpmnu1 .mnutbs,
#shpmnu1 .mnutbs1,
#shpmnu1 .mnutbs2,
#shpmnu1 .mnutbs3,
#shpmnu1 .mnutbs4,
#shpmnu1 .mnutbs5,
#shpmnu1 .mnutbs6,
#shpmnu1 .mnutbs7,
#shpmnu1 .mnutbs8,
#shpmnu1 .mnutbs9,
#shpmnu1 .mnutbs10,
#shpmnu1 .mnutbs11,
#shpmnu1 .mnutbs12,
#shpmnu1 .mnutbs13,
#shpmnu1 .mnutbs14,
#shpmnu1 .mnutbs15,
#shpmnu1 .mnutbs16,
#shpmnu1 .mnutbs17,
#shpmnu1 .mnutbs18,
#shpmnu1 .mnutbs19,
#shpmnu1 .mnutbs20 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 10px;
  border-bottom: solid 1px #555;
}

#shpmnu1 .mnutbs1 .pg1 a,
#shpmnu1 .mnutbs2 .pg2 a,
#shpmnu1 .mnutbs3 .pg3 a,
#shpmnu1 .mnutbs4 .pg4 a,
#shpmnu1 .mnutbs5 .pg5 a,
#shpmnu1 .mnutbs6 .pg6 a,
#shpmnu1 .mnutbs7 .pg7 a,
#shpmnu1 .mnutbs8 .pg8 a,
#shpmnu1 .mnutbs9 .pg9 a,
#shpmnu1 .mnutbs10 .pg10 a,
#shpmnu1 .mnutbs11 .pg11 a,
#shpmnu1 .mnutbs12 .pg12 a,
#shpmnu1 .mnutbs13 .pg13 a,
#shpmnu1 .mnutbs14 .pg14 a,
#shpmnu1 .mnutbs15 .pg15 a,
#shpmnu1 .mnutbs16 .pg16 a,
#shpmnu1 .mnutbs17 .pg17 a,
#shpmnu1 .mnutbs18 .pg18 a,
#shpmnu1 .mnutbs19 .pg19 a,
#shpmnu1 .mnutbs20 .pg20 a {
  color: #cc0000;
  font-size: 115%;
}

#shpmnu1 .mnutbsitem {
  margin: 2px;
  line-height: normal;
  height: auto;
  padding: 3px 9px;
  border-radius: 5px 5px 0 0;
}

#shpmnu2 .mnutbs,
#shpmnu2 .mnutbs1,
#shpmnu2 .mnutbs2,
#shpmnu2 .mnutbs3,
#shpmnu2 .mnutbs4,
#shpmnu2 .mnutbs5,
#shpmnu2 .mnutbs6,
#shpmnu2 .mnutbs7,
#shpmnu2 .mnutbs8,
#shpmnu2 .mnutbs9,
#shpmnu2 .mnutbs10,
#shpmnu2 .mnutbs11,
#shpmnu2 .mnutbs12,
#shpmnu2 .mnutbs13,
#shpmnu2 .mnutbs14,
#shpmnu2 .mnutbs15,
#shpmnu2 .mnutbs16,
#shpmnu2 .mnutbs17,
#shpmnu2 .mnutbs18,
#shpmnu2 .mnutbs19,
#shpmnu2 .mnutbs20 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
  border-bottom: solid 1px #555;
}

#shpmnu2 .mnutbs1 .pg1 a,
#shpmnu2 .mnutbs2 .pg2 a,
#shpmnu2 .mnutbs3 .pg3 a,
#shpmnu2 .mnutbs4 .pg4 a,
#shpmnu2 .mnutbs5 .pg5 a,
#shpmnu2 .mnutbs6 .pg6 a,
#shpmnu2 .mnutbs7 .pg7 a,
#shpmnu2 .mnutbs8 .pg8 a,
#shpmnu2 .mnutbs9 .pg9 a,
#shpmnu2 .mnutbs10 .pg10 a,
#shpmnu2 .mnutbs11 .pg11 a,
#shpmnu2 .mnutbs12 .pg12 a,
#shpmnu2 .mnutbs13 .pg13 a,
#shpmnu2 .mnutbs14 .pg14 a,
#shpmnu2 .mnutbs15 .pg15 a,
#shpmnu2 .mnutbs16 .pg16 a,
#shpmnu2 .mnutbs17 .pg17 a,
#shpmnu2 .mnutbs18 .pg18 a,
#shpmnu2 .mnutbs19 .pg19 a,
#shpmnu2 .mnutbs20 .pg20 a {
  color: #cc0000;
  font-size: 110%;
}

#shpmnu2 .mnutbsitem {
  background-color: #003366;
  border-radius: 8px 8px 0 0;
}

/* --- /mnutbstab --- */
/* shop */
#shop h1,
#shop h2 {
  color: #000000;
  display: inline;
  font: bold 23px/23px Arial;
  letter-spacing: -1px;
  margin: 0 5px;
  padding: 0;
}

.shp_hd_wrap a {
  text-decoration: none;
}

.shp_hd_wrap {
  margin: 15px 0;
  font-size: 15px;
}

#shop a:hover {
  text-decoration: underline;
}

.shp_addths {
  height: 20px;
  overflow: hidden;
  float: right;
}

#shop h3 {
  font-size: 15px;
}

#shop p {
  margin: 10px 0;
  padding: auto;
  font-size: 14px;
}

#shopwrap {
  background-color: #FFFFFF;
}

#shop {
  margin: 0 auto;
  padding: 15px 0;
  overflow: hidden;
}

.shp_addths {
  float: right;
}

/* /shop */
#storewrap .menuitem,
#bookswrap .menuitem {
  background-color: #ad8fa4;
}

#storewrap .menuitem:hover,
#bookswrap .menuitem:hover {
  background-color: #5B1F92;
}

#storewrap noscript p {
  font-size: 40px;
  margin: 50px 40px;
  text-align: center;
  display: block;
  color: #CC0000;
}

#guestbook_new1 .lb2,
#search1 .lb3,
#searchresults1 .lb3,
#storewrap .lb4,
#bookswrap .lb5,
#sciencescreensavers1 .lb6,
#funpage1 .lb7,
#links1 .lb8,
#about1 .lb9 {
  background-color: #FFCC33;
  /*left: 163px;*/
  /*position: absolute;*/
  /*width: 115px;*/
}

#storewrap .lb4,
#bookswrap .lb5 {
  /*left: 63px !important;*/
}

#guestbook_new1 .lb3,
#search1 .lb4,
#searchresults1 .lb4,
#storewrap .lb5,
#bookswrap .lb6,
#sciencescreensavers1 .lb7,
#funpage1 .lb8,
#links1 .lb9,
#about1 .lb10 {
  /*margin: 80px 0 0;*/
}

.tgl2 {
  background-position: -100px -405px;
  width: 296px;
  height: 17px;
  position: absolute;
  top: 77px;
  left: 687px;
}

#search1 #content h1,
#searchresults1 #content h1 {
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
}

#search1 #content h2,
#searchresults1 #content h2 {
  color: #DE2121;
  display: block;
  float: right;
  font: bold 15px/15px Arial;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  text-shadow: 1px 0 0 #eee;
  width: 180px;
}

.blogsidebar h4 {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#content .blog .postbody p {
  font-size: 15px;
  line-height: 1.3em;
  margin: 1.5em auto;
  text-align: left;
}

#search1 .as_sci_a_LL,
#storewrap .as_sci_a_LL,
#about1 .as_sci_a_LL,
#bookswrap .as_sci_a_LL {
  border-bottom: none;
}

#content .thanks h3 {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  color: #cc0000;
}

.thanks h3 strong {
  color: #5B1F92;
  display: block;
  font-size: 43px;
  letter-spacing: -3px;
  text-shadow: -1px -1px 1px #FFFFFF;
}

.thanks p strong {
  text-decoration: underline;
}

.smily {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-size: 130%;
  line-height: 70%;
  color: #009900;
  font-weight: bold;
}

.smily b {
  font-size: 120%;
}

.unbold {
  font-weight: normal;
  text-shadow: -1px 0 0 #ddd;
}

.donate {
  border: 1px dotted #777777;
  margin: 35px auto;
  padding: 15px 30px;
  text-align: center;
  width: 350px;
}

.as_str_1 {
  margin: 0 0 15px 0;
}

.rc1 img {
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}

.rc2 img {
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

#mainindex .factsp {
  border: none !important;
}

#storewrap .leftbartd,
#bookswrap .leftbartd,
#storewrap .lbtbl,
#bookswrap .lbtbl {
  /*width: 174px !important;*/
}

#storewrap .as_lt_bott,
#bookswrap .as_lt_bott {
  display: none;
}

#storewrap .lbtbltd1,
#bookswrap .lbtbltd1 {
  /*width: 60px !important;*/
}

#storewrap .lbtbltd2,
#bookswrap .lbtbltd2 {
  border-top: solid 4px #d92026;
}

#amz_shp .amz_img {
  background-color: white !important;
}

/* cse */
.cse .gsc-control-cse,
.gsc-control-cse,
form.gsc-search-box,
table.gsc-search-box {
  margin: 0 !important;
  padding: 0 !important;
}

input.gsc-input,
td.gsc-input {
  border: none !important;
  padding: 0 !important;
}

input.gsc-search-button,
td.gsc-search-button {
  border: none !important;
  height: auto !important;
  border-radius: 0 !important;
}

td.gsc-clear-button {
  width: 0 !important;
}

div.gsc-clear-button,
table.gsc-branding,
table.gcsc-branding {
  display: none !important;
}

/* /cse */
/* amzn srch wdgt */
.amzn_wdgt {
  margin: 0 !important;
  padding: 0 !important;
}

.amzn_wdgt .hd_input {
  margin: 0 auto !important;
  padding: 0 !important;
  width: 300px !important;
}

.amzn_wdgt #amzn_search_textfield {
  font: bold 11px Arial !important;
}

.amzn_wdgt .wdgt_ft {
  display: none !important;
}

.amzn_wdgt .wdgt_brdr {
  padding: 0 !important;
}

.amzn_wdgt .wdgt_tl {
  height: 71px !important;
}

.amzn_wdgt .wdgt_pgn {
  padding: 0 !important;
}

.amzn_wdgt .wdgt_hd {
  margin: 0 !important;
  padding: 0 !important;
}

.amzn_wdgt #searchBoxForm {
  margin: 0 !important;
  padding: 0 !important;
}

/* /amzn srch wdgt */
/*tnbx*/

.tbox {
  position: absolute;
  display: none;
  padding: 14px 17px;
  z-index: 900;
}

.tinner {
  padding: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff url(//www.sciensational.com/common/x/a/s/preload.gif) no-repeat 50% 50%;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.tmask {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 800;
}

.tclose {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(//www.sciensational.com/common/x/a/s/close.png) no-repeat;
}

.tclose:hover {
  background-position: 0 -30px;
} /*/tnbx*/

#error {
  background: #ff6969;
  color: #fff;
  text-shadow: 1px 1px #cf5454;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0;
}

#error .tcontent {
  padding: 10px 14px 11px;
  border: 1px solid #ffb8b8;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#success {
  background: #2ea125;
  color: #fff;
  text-shadow: 1px 1px #1b6116;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10;
  -moz-border-radius: 0;
  border-radius: 0;
}

#bluemask {
  background: #4195aa;
}

#frameless {
  padding: 0;
}

#frameless .tclose {
  left: 6px;
} /* /tnbx */
/* scitvlnkwrap */
#storewrap .scitvlnkwrap a,
#bookswrap .scitvlnkwrap a {
  background-position: -192px -515px;
  height: 50px;
  width: 50px;
}

/* /scitvlnkwrap */
#disq_gb {
  background-color: #FED75A;
  padding: 15px;
}

.shine,
#content .factsp {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 100%); /* W3C */
}

.factshare {
  display: block;
  float: right;
  height: 16px;
  margin: -5px;
  width: 40px;
  overflow: hidden;
  font: 9px Arial;
  opacity: 0.8;
}

.factshare a span:hover {
  outline: solid 1px darkblue;
}

.cseformtop {
  width: 100%;
}

.rc-ri_ri {
  background-color: #FFCC33;
}

.tbl_mother {
  width: auto;
}

.tbl_mother td {
  vertical-align: top;
}

.mtbl_td1 {
  vertical-align: top;
}

.tbl_mtbl_td1 {
  width: 100%;
}

.tglntwo {
  font: bold 14px/1em Arial;
  left: 690px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  width: 260px;
}

.fcwraptable {
  width: 100%;
}

.fcwraptable td {
  width: 50%;
  vertical-align: top;
}

#mpcontainer .randbox p a {
  border: none;
}

#fotd {
  margin: 0 10px;
  max-width: 336px;
  overflow: hidden;
}

.sciblogbod .as728img {}

#commonsearch1 #content {
  margin: 0 10px 0 0;
  width: auto !important;
}

#commonsearch1 .gsc-result {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #aaaaaa;
  box-shadow: 3px 3px 5px #666666;
  margin: 10px 0;
  padding: 10px;
}

/* */
/* */
/* */
/* */
/* */
/* */
/* ------------- DESKTOP ------------------ */

@media screen and (min-width: 762px) {
  #bookswrap #container,
  #storewrap #container {
    /* width: 790px;*/
  }

  #mother {
    width: 760px;
    overflow: hidden;
  }

  #container {
    width: 625px;
    border-left: solid 4px #FFCC33;
  }

  #content {
    /**/
  }

  .conttd {
    background-color: transparent;
  }

  .as728img, .as728imgbot {
    margin: 10px 0;
    border: solid 4px #ffffb6;
  }

  .headtable {
    position: relative;
  }

  .srcheadr {
    left: auto;
    right: 0;
    top: 10px;
  }

  .menutd {
    bottom: 0;
    left: 160px;
    position: absolute;
    width: 100%;
  }

  .menuitem.blogtab {
    font: bold 9px/8px Arial;
    padding: 3px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 9px;
    word-break: break-all;
    word-wrap: break-word;
  }

  .leftbartd {
    width: 120px;
  }

  #leftbar .lbitem {
    border-bottom: solid 4px #FFCC33;
  }

  .lbtbltd1 {
    width: 0;
    display: none;
  }

  .lbtbltd2 {
    border: none;
  }

  .lbtbl {
    width: 120px;
  }

  .logotd {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .headertd {
    display: block;
    position: absolute;
    left: 300px;
    top: 0;
    width: 460px;
  }

  #tagline {
    left: 0;
    float: none;
    position: absolute;
    top: 40px;
    width: 100%;
  }

  #tagline h2 {
    margin: 0;
  }

  .tglntwo {
    display: none;
    /*    font: italic bold 11px/10px Times,serif;
        bottom: 10px;
        left: auto;
        right: 0;
        top: auto;
        width: 150px;
        text-transform: uppercase;*/
  }
  /**/
  /**/
}

/* ----------------- MOBILE ----------------------- */

@media screen and (max-width: 762px) {
  #mobsubmenu {
    left: 20px;
    position: absolute;
    top: 160px;
    z-index: 100;
  }

  #mobsubmenu a {
    background-color: #ffcc33;
    border: 1px solid #5b1f92;
    border-radius: 3px;
    color: black;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }

  #mobsubmenu a:nth-child(1) {
    background-color: rgba(21, 210, 63, 0.8);
    color: #ffffff;
  }

  #mobsubmenu a:nth-child(2) {
    background-color: rgba(51, 137, 255, 0.8);
    color: white;
  }

  #mobsubmenu a:nth-child(3) {
    /*background-color: rgba(255, 204, 51, 0.8);*/
  }

  #mobsubmenu a:nth-child(4) {
    /*background-color: rgba(255, 204, 51, 0.8);*/
  }

  .blogsidebartd,
  .sci_aslu_t,
  .leftbartd,
  .as728imgbot,
  .as_all_bottm,
  .lbtbltd1,
  .srcheadr,
  .headertd {
    display: none;
  }

  .logotd {
    display: block;
  }

  #mother,
  .lbtbl,
  #container,
  .astop,
  .asbott {
    width: auto;
  }

  .headtable {
    position: relative;
  }

  .menutd {
    background-color: #D92026;
    border-bottom: 2px solid #FFFFB6;
    border-top: 2px solid #FFFFB6;
    display: block;
    font: bold 15px/1em Arial;
    height: auto;
    max-width: none;
    overflow: hidden;
  }

  .menuitem {
    background-color: #5B1F92;
    background-image: none !important;
    border: 2px solid #FFFFB6;
    float: left;
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 5px;
    width: 92px;
  }

  .menuitem:hover {
    background-color: #000;
  }

  #container,
  #mpcontainer {
    background-color: #FFCC33;
    border: none;
    padding: 0;
    margin: 0;
  }

  .fcwraptabletd1,
  .fcwraptabletd2,
  .mpleftbartd,
  .mprightbartd {
    display: table;
    width: 100% !important;
    margin: 0;
    padding: 0;
  }

  #content .factsp {
    max-width: none;
    min-height: 70px;
  }

  #content pre,
  .pre {
    max-width: 90%;
    overflow: auto;
    word-break: break-word;
    white-space: pre-line;
  }

  .mob_flares {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
  }

  .feedbox {
    margin: 10px;
    padding: 10px;
  }

  .thanks {
    margin: 15px;
    padding: 0;
  }
}